body{
   
    font-size: 100px;
    font-weight: 800px;
}
.clock{
margin: 100px 100px auto;
font-size: 100px;
font-weight: 20px;
}

#hour{
    background-color:blueviolet ;
    border: 1px solid;
   font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
}


#minute{
    background-color:blueviolet ;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
}


#second{
    background-color:blueviolet ;
    border: 1px solid;
    border-radius: 25px;
    padding: 10x;
    font-family: Arial, Helvetica, sans-serif;
}